@using Task_List_2.Models
@model Task
@{
    User user = (User)Session["User"];
}
<h2>Add Task</h2>
<form class="form-group" action="~/Home/AddTask" method="post">
    @*<div class="form-group">
            <input type="" name="Description" class="form-control mr-sm-4" id="Description" placeholder="Enter Task Description..." required />
        </div>*@
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="Description">Description</label>
        </div>
        <div class="col-sm-3">
            <label for="DueDate">Date Due</label>
        </div>
        <div class="col-sm-2 text-center">
            <label for="Completed">Completed</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <textarea class="form-control" name="Description" id="Description" rows="3" maxlength="250" required></textarea>
        </div>
        <div class="col-sm-3">
            <input type="date" name="DueDate" class="form-control mr-sm-2" id="DueDate" min="1000-01-01" max="3000-12-31" required />
        </div>
        <div class="col-sm-2 text-center">
            @Html.CheckBoxFor(m => m.Completed, new { @class = "form-check-input", @id = "Completed" })
        </div>
    </div>
    <div class="form-group">

    </div>
    @*<div class="form-check mr-sm-2">
            <input type="text" name="Completed" class="form-check-input" id="Completed" value="false" />
            <input type="hidden" name="Completed" class="form-check-input" value="false" />
            <label class="form-check-label" for="Completed">Completed</label>
        </div>*@

    <input type="hidden" name="UserId" class="form-check-input" value="@user.Id" />
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<script>
    document.getElementById("Description").focus();

</script>  