
<address>
    My Address<br />
    Grand Rapids, MI 49508<br />
    Phone: 616-555-1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>