<h3 style="color:red">@ViewBag.Message</h3>
<h2>Register</h2>
@if (@Session["RegSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @Session["RegSuccess"]
    </div>
}
@if (Session["LoginFailure"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Session["LoginFailure"]
    </div>
}
<form action="~/Home/Registration" method="post">
    <div class="form-group">
        <label for="Email">Email</label><br />
        <input type="email" name="Email" class="form-control" aria-describedby="emailHelp" id="Email" placeholder="Enter Email Address..." required />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <fieldset class="form-group">
        <label for="Password">Password</label><br />
        <input type="password" name="Password" class="form-control" id="Password"
               placeholder="Enter Password"
               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}+$"
               aria-describedby="passwordHelp"
               title="Must contain at least one number and one uppercase and lowercase letter,
                  and at least 8 or more characters"
               required />
        <small id="passwordHelp" class="form-text text-muted">
            Must contain at least one number and one uppercase and lowercase letter,
            and at least 8 or more characters
        </small>
        <input type="password" name="passwordConfirm" class="form-control" placeholder="Confirm Password" aria-describedby="passwordConfirm" />
        <small id="passwordConfirm" class="form-text text-muted">
            Both password fields must match.
        </small>
    </fieldset>
    <input class="btn btn-primary" type="submit" value="Sign Up">
</form>
<script>
    document.getElementById("Email").focus();

</script>   